---
import ModeToggle from '../ModeToggle.astro'

interface Props {
	showModeToggle?: boolean
}

const { showModeToggle = false } = Astro.props
---

<header class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap'>
	<nav
		class='align-start relative mx-auto flex w-full items-center justify-between'
		aria-label='global'
	>
		<!-- Left section -->
		<div class='z-10 flex flex-1 items-center justify-start pb-8'>
			<a
				href='/'
				class='flex-none font-garamond text-[1.25rem] font-medium transition-colors hover:text-gold'
				aria-label='Nav Menu Item'
				>Home
			</a>
		</div>

		<!-- Center section - absolutely positioned to be truly centered -->
		{
			showModeToggle && (
				<div class='z-0 flex w-full justify-center'>
					<ModeToggle />
				</div>
			)
		}

		<!-- Right section -->
		<div class='z-10 flex flex-1 flex-row items-center justify-end gap-x-6 pb-8 sm:gap-x-8'>
		</div>
	</nav>
</header>
