---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/thariq3.png'

import { getAllPosts, sortMDByDate } from '@/utils'

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={astro}
				alt='profile photo'
				class='h-36 w-auto rounded-full bg-[#ffd3c5] p-1'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Thariq Shihipar</h1>
				<div class='flex flex-wrap items-center justify-center gap-x-7 gap-y-3'>
					<Label title='San Francisco'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label title='' as='a' href='https://www.linkedin.com/in/thariqshihipar/' target='_blank'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
					<a href='https://x.com/trq212'>
						<svg
							class='h-5 w-5 cursor-pointer text-foreground/75'
							xmlns='http://www.w3.org/2000/svg'
							width='24'
							height='24'
							viewBox='0 0 24 24'
							><path
								fill='currentColor'
								d='M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z'
							></path></svg
						>
					</a>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p>
				Engineer & serial entrepreneur, addicted to building. But taking a break for now to write
				and help others, while looking for my next thing.
			</p>
			<p>
				In past lives I've founded a YC backed gaming company & raised $17MM, sold a SAAS startup,
				made a non-profit, and did gradschool at the MIT Media Lab.
			</p>
			<p>
				I'm most excited about building novel AI UX paradigms that comes from understanding the
				underlying research. I'm currently diving into AI alignment and steering.
			</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title='Posts'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title="Stuff I've Made">
			<div class='grid grid-cols-2 gap-4'>
				<ProjectCard
					href='https://x.com/trq212/status/1833274377640829070'
					heading='Zaphod'
					subheading="I'm working on a (soon to be) open source AI coding agent."
					imagePath='/src/assets/pubpub.jpeg'
					altText='Example'
					class='w-full'
				/>
				<ProjectCard
					heading='One More Multiverse'
					href='https://www.playmultiverse.com'
					subheading=`A YC backed gaming company that I ran for 5 years. We scaled to over a million users, went viral on tiktok.
					
					`
					imagePath='/src/assets/multiverse1.jpg'
					altText=''
					class='w-full'
				/>
				<ProjectCard
					heading='Edgeout.gg'
					href='https://blitz.gg'
					subheading=`A bootstrapped gaming analytics platform I made. Sold to blitz.gg`
					imagePath='/src/assets/edgeout.png'
					altText=''
					class='w-full'
				/>
				<ProjectCard
					heading='Pubpub.org'
					href='https://pubpub.org'
					subheading='A non-profit academic publishing platform that I co-founded.'
					imagePath='/src/assets/pubpub.jpeg'
					altText=''
					class='w-full'
				/>
			</div>
		</Section>
	</div>
</PageLayout>
