---
import type { MarkdownHeading } from 'astro'

interface Props {
	headings: MarkdownHeading[]
}

const { headings } = Astro.props

const filteredHeadings = headings.filter((heading) => heading.depth <= 3)
---

<nav class='fixed right-4 top-24 ml-4 mt-12 hidden w-64 lg:block'>
	<h2 class='mb-2 text-lg font-semibold'>CONTENTS</h2>
	<div class='flex flex-col gap-2'>
		{
			filteredHeadings.map((heading) => (
				<a
					class={`text-sm hover:underline ${heading.depth === 3 ? 'text-gray-500' : ''}`}
					href={`#${heading.slug}`}
					style={`margin-left: ${(heading.depth - 2) * 1}rem`}
				>
					{heading.text}
				</a>
			))
		}
	</div>
</nav>
