---
import { cn } from '@/utils'

const { class: className, text, color } = Astro.props
---

<span
	class={cn(
		className,
		'flex flex-col gap-y-3 px-2 rounded-md text-xs text-white bg-primary-foreground '
	)}
	style={{
		backgroundColor: color
	}}
>
	{text}
</span>
